body {
    background-color:rgb(188, 104, 104);
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

header {
    border: 2px solid #0fda45;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(9, 9, 9);
    margin: 20px;
}

h1 {
    color: #ff6f61;
    font-size: 36px;
}

h2 {
    color: #ff6f61;
}

img {
    max-width: 100%;
    border: 2px solid #ff6f61;
    border-radius: 10px;
    margin: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 20px 0;
}

h4 {
    color: #ff6f61;
}

a {
    color: #ff6f61;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #fff;
}

